## Numbers, Variable & Comment

In [1]:
42

42

In [2]:
4.4

4.4

In [3]:
typeof(42)

Int64

In [4]:
typeof(4.4)

Float64

In [5]:
3 + 6 * 7

45

In [6]:
3/56

0.05357142857142857

In [7]:
grade = 34

34

In [8]:
grade

34

In [9]:
println(grade)

34

In [10]:
rank = 4

4

In [11]:
grade + rank

38

In [12]:
typeof(rank)

Int64

In [13]:
pi

π = 3.1415926535897...

In [14]:
100 % 3

1

In [15]:
2 ^ 3

8

In [16]:
3 ^ 23

94143178827

In [17]:
# This is comment

In [18]:
#=  1st
2nd
Third
=#

## String

In [20]:
s1 = "This is Julia"

"This is Julia"

In [21]:
typeof(s1)

String

In [22]:
s2 = """ This is 1st line
This is 2nd
This is 3rd"""

" This is 1st line\nThis is 2nd\nThis is 3rd"

In [23]:
println(s2)

 This is 1st line
This is 2nd
This is 3rd

In [24]:
It "is" raining outside"

LoadError: syntax: cannot juxtapose string literal

In [25]:
s3 = """It "is" raining outside" """

"It \"is\" raining outside\" "

In [26]:
println(s3)

It "is" raining outside"

In [27]:
println("My grade is 12")

My grade is 12

In [28]:
grade

34

In [29]:
println("My grade is $grade")

My grade is 34

In [30]:
println("My grade is $(grade+5)")

My grade is 39

In [34]:
m1 = "I love "
m2 = "Julia";

In [35]:
string(m1, m2)

"I love Julia"

In [36]:
string(m1, " Classic " ,m2)

"I love  Classic Julia"

In [38]:
m2 ="Julia "

"Julia "

In [39]:
m2 ^ 100

"Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia Julia "

In [40]:
"Ankit " ^ 100

"Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit Ankit "

In [41]:
m1

"I love "

In [42]:
m1[1]

'I': ASCII/Unicode U+0049 (category Lu: Letter, uppercase)

In [43]:
m1[3]

'l': ASCII/Unicode U+006c (category Ll: Letter, lowercase)

In [ ]:
m1[start index: end index]

In [44]:
m1[3:6]

"love"

In [45]:
ch = 'm'

'm': ASCII/Unicode U+006d (category Ll: Letter, lowercase)

In [46]:
typeof(ch)

Char

In [47]:
'md'

LoadError: syntax: invalid character literal

## Arrays

In [48]:
[3, 5, 9]

3-element Array{Int64,1}:
 3
 5
 9

In [49]:
[3 , 5, 9] + [1, 2, 3]

3-element Array{Int64,1}:
  4
  7
 12

In [51]:
arr = ["Hello", 2, 45.7, true]

4-element Array{Any,1}:
     "Hello"
    2
   45.7
 true

In [52]:
length(arr)

4

In [53]:
typeof(arr)

Array{Any,1}

In [55]:
minimum([3, 5, 9])
maximum([3, 5, 9])

9

In [56]:
arr

4-element Array{Any,1}:
     "Hello"
    2
   45.7
 true

In [57]:
arr[3]

45.7

In [58]:
arr[2: 4]

3-element Array{Any,1}:
    2
   45.7
 true

In [59]:
arr[4:4]

1-element Array{Any,1}:
 true

In [61]:
zeros(4)
ones(3)

3-element Array{Float64,1}:
 1.0
 1.0
 1.0

In [62]:
arr

4-element Array{Any,1}:
     "Hello"
    2
   45.7
 true

In [63]:
println(arr)

Any["Hello", 2, 45.7, true]

In [64]:
push!(arr, "34")

5-element Array{Any,1}:
     "Hello"
    2
   45.7
 true
     "34"

In [65]:
println(arr)

Any["Hello", 2, 45.7, true, "34"]

In [67]:
sort([3, 5, -1])

3-element Array{Int64,1}:
 -1
  3
  5

In [70]:
range(1, stop=100)
range(-10, step=5, length=10)
range(-10, length=10)

-10:-1

In [71]:
arr

5-element Array{Any,1}:
     "Hello"
    2
   45.7
 true
     "34"

In [72]:
arr1 = arr

5-element Array{Any,1}:
     "Hello"
    2
   45.7
 true
     "34"

In [74]:
arr1[1] = "Bye"

"Bye"

In [76]:
println(arr1 ,  arr)

Any["Bye", 2, 45.7, true, "34"]Any["Bye", 2, 45.7, true, "34"]

In [77]:
arr2 = copy(arr)

5-element Array{Any,1}:
     "Bye"
    2
   45.7
 true
     "34"

In [78]:
println(arr ,  arr2)

Any["Bye", 2, 45.7, true, "34"]Any["Bye", 2, 45.7, true, "34"]

In [79]:
arr2[1] = "Julia"

"Julia"

In [80]:
println(arr ,  arr2)

Any["Bye", 2, 45.7, true, "34"]Any["Julia", 2, 45.7, true, "34"]

In [81]:
arr

5-element Array{Any,1}:
     "Bye"
    2
   45.7
 true
     "34"

In [83]:
in("2", arr)

false

## Tuples

In [85]:
t1 = (3, 6, true)

(3, 6, true)

In [86]:
typeof(t1)

Tuple{Int64,Int64,Bool}

In [87]:
t1[2]

6

In [88]:
t1[2] = "hello"

MethodError: MethodError: no method matching setindex!(::Tuple{Int64,Int64,Bool}, ::String, ::Int64)

In [89]:
length(t1)

3

## Dictionary

In [14]:
#=
John - 555
Alice - 111
Bob = 333
=#
phonebook = Dict("John" => "555", "Alice" => "111", "Bob" => "333")

Dict{String,String} with 3 entries:
  "John"  => "555"
  "Alice" => "111"
  "Bob"   => "333"

In [15]:
keys(phonebook)

Base.KeySet for a Dict{String,String} with 3 entries. Keys:
  "John"
  "Alice"
  "Bob"

In [16]:
values(phonebook)

Base.ValueIterator for a Dict{String,String} with 3 entries. Values:
  "555"
  "111"
  "333"

In [17]:
phonebook["John"]

"555"

In [18]:
for (k, v) in phonebook
    println("$k , $v")
end

John , 555
Alice , 111
Bob , 333

In [19]:
collect(keys(phonebook))

3-element Array{String,1}:
 "John"
 "Alice"
 "Bob"

In [21]:
#haskey(phonebook, "John")
haskey(phonebook, "John1")

false

## Sets

In [24]:
s1 = Set([1,3,6, 6])

Set([3, 6, 1])

In [25]:
s2 = Set([3,6, 4, 3])

Set([4, 3, 6])

In [26]:
union(s1, s2)

Set([4, 3, 6, 1])

In [27]:
intersect(s1, s2)

Set([3, 6])

In [28]:
issubset(s1, s2)

false

# Control Flow

## Decision making

In [29]:
N= 34

34

In [32]:
N = -5
if N > 0
    println("N is +ve")
else
    println("N is -ve")
end

N is -ve

In [33]:
N = 34

34

In [37]:
N = -5
if N > 25
    println("Number is greater than 25")
elseif (N > 0 && N < 25)
    println("Number is between 0 and 25")
else
    println("Number is -ve")
end

Number is -ve

## Looping

In [38]:
for i = 1:5
    println(i)
end

1
2
3
4
5

In [39]:
for i = 1:5, j = 1:5
    println(i , " : ", j)
end

1 : 1
1 : 2
1 : 3
1 : 4
1 : 5
2 : 1
2 : 2
2 : 3
2 : 4
2 : 5
3 : 1
3 : 2
3 : 3
3 : 4
3 : 5
4 : 1
4 : 2
4 : 3
4 : 4
4 : 5
5 : 1
5 : 2
5 : 3
5 : 4
5 : 5

In [40]:
arr = [3, 5, "Hello"]

3-element Array{Any,1}:
 3
 5
  "Hello"

In [41]:
for val in arr
    println(val)
end

3
5
Hello

In [ ]:
for i = 1:5
    println(i)
end

In [43]:
i = 1
while i <= 5
    println(i)
    i = i + 1
end

1
2
3
4
5

## Functions

In [52]:
function welcome()
    println("Hello Ankit")
end

welcome (generic function with 1 method)

In [53]:
welcome()

Hello Ankit

In [54]:
function welcome1(name)
    println("Hello $name")
end

welcome1 (generic function with 1 method)

In [55]:
welcome1()

MethodError: MethodError: no method matching welcome1()
Closest candidates are:
  welcome1(!Matched::Any) at In[54]:2

In [58]:
#welcome1("Ankit")
welcome1("Julia")

Hello Julia

In [59]:
welcome2(name) = println("Hello $name")

welcome2 (generic function with 1 method)

In [60]:
welcome2("Julia")

Hello Julia

In [61]:
welcome3 = name -> println("Hello $name")

#3 (generic function with 1 method)

In [62]:
welcome3("data")

Hello data

In [65]:
function add(x,y)
    z = x + y
    return z
end

add (generic function with 1 method)

In [66]:
add(4,6)

10

In [67]:
arr =[ 2,3,6,0, -4]

5-element Array{Int64,1}:
  2
  3
  6
  0
 -4

In [68]:
sort(arr)

5-element Array{Int64,1}:
 -4
  0
  2
  3
  6

In [69]:
arr

5-element Array{Int64,1}:
  2
  3
  6
  0
 -4

In [70]:
sort!(arr)

5-element Array{Int64,1}:
 -4
  0
  2
  3
  6

In [71]:
arr

5-element Array{Int64,1}:
 -4
  0
  2
  3
  6

In [73]:
function f1(x)
    x^2
end

f1 (generic function with 1 method)

In [75]:
arr1 = [1,3,7,0]

4-element Array{Int64,1}:
 1
 3
 7
 0

In [76]:
f1(arr1)

MethodError: MethodError: no method matching ^(::Array{Int64,1}, ::Int64)
Closest candidates are:
  ^(!Matched::Float16, ::Integer) at math.jl:862
  ^(!Matched::Regex, ::Integer) at regex.jl:712
  ^(!Matched::Missing, ::Integer) at missing.jl:151
  ...

In [77]:
map(f1 , arr1)

4-element Array{Int64,1}:
  1
  9
 49
  0

## Packages

In [44]:
using Pkg

In [45]:
Pkg.installed()

Dict{String,Union{Nothing, VersionNumber}} with 8 entries:
  "CSV"           => v"0.5.20"
  "Dates"         => nothing
  "Serialization" => nothing
  "Statistics"    => nothing
  "Tables"        => v"0.2.11"
  "IJulia"        => v"1.20.2"
  "JSONTables"    => v"0.1.3"
  "DataFrames"    => v"0.20.0"

In [46]:
Pkg.rm("Statistics")

  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
  [10745b16] - Statistics
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [47]:
Pkg.installed()

Dict{String,Union{Nothing, VersionNumber}} with 7 entries:
  "CSV"           => v"0.5.20"
  "Dates"         => nothing
  "Serialization" => nothing
  "Tables"        => v"0.2.11"
  "IJulia"        => v"1.20.2"
  "JSONTables"    => v"0.1.3"
  "DataFrames"    => v"0.20.0"

In [48]:
Pkg.add("Statistics")

  Updating registry at `C:\Users\PC\.julia\registries\General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
[1mFetching: [========================================>]  100.0 %.0 % Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
  [10745b16] + Statistics
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [49]:
Pkg.installed()

Dict{String,Union{Nothing, VersionNumber}} with 8 entries:
  "CSV"           => v"0.5.20"
  "Dates"         => nothing
  "Serialization" => nothing
  "Statistics"    => nothing
  "Tables"        => v"0.2.11"
  "IJulia"        => v"1.20.2"
  "JSONTables"    => v"0.1.3"
  "DataFrames"    => v"0.20.0"

In [50]:
using Statistics

In [51]:
mean([3, 7, 9])

6.333333333333333

# Vector & Matric processing

In [78]:
using Random

In [79]:
using Pkg
Pkg.add("Random")

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
  [9a3f8284] + Random
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [80]:
rand(3,4)

3×4 Array{Float64,2}:
 0.212091  0.749892  0.514377  0.0134821
 0.100814  0.61483   0.473508  0.5997
 0.345032  0.969802  0.533101  0.778224

In [81]:
randn(10,2)

10×2 Array{Float64,2}:
 -1.01981     0.860643
  0.807562   -0.406773
  0.0715052  -1.62553
 -0.157517   -0.796571
 -0.82345    -0.930174
  0.0150635  -0.997747
  1.94645     0.863456
 -1.10283     2.92699
  1.72368    -0.835264
 -1.66906     0.0433722

In [84]:
randstring()

"a3E9UEII"

In [87]:
randstring('A':'Z', 50)

"OBWRFZJDXBMIZMNMZJZABPVKVQNOJAVTOFQXANDQGVFDRBNGIL"

In [90]:
v1 = Vector(1:10)

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [93]:
reshape(v1, (2,5))

2×5 Array{Int64,2}:
 1  3  5  7   9
 2  4  6  8  10

In [94]:
ones(3,5)

3×5 Array{Float64,2}:
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0

In [96]:
zeros(2,5, 6)

2×5×6 Array{Float64,3}:
[:, :, 1] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

[:, :, 2] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

[:, :, 3] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

[:, :, 4] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

[:, :, 5] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

[:, :, 6] =
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [97]:
using LinearAlgebra

In [99]:
I(10)

10×10 Diagonal{Bool,Array{Bool,1}}:
 1  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅
 ⋅  1  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅
 ⋅  ⋅  1  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅
 ⋅  ⋅  ⋅  1  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅
 ⋅  ⋅  ⋅  ⋅  1  ⋅  ⋅  ⋅  ⋅  ⋅
 ⋅  ⋅  ⋅  ⋅  ⋅  1  ⋅  ⋅  ⋅  ⋅
 ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  1  ⋅  ⋅  ⋅
 ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  1  ⋅  ⋅
 ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  1  ⋅
 ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  ⋅  1

In [101]:
M = [2 4 5;1 2 3;6 7 0]

3×3 Array{Int64,2}:
 2  4  5
 1  2  3
 6  7  0

In [102]:
typeof(M)

Array{Int64,2}

In [103]:
size(M)

(3, 3)

In [105]:
M[1,:]
M[:, 2]

3-element Array{Int64,1}:
 4
 2
 7

In [106]:
N = [1 2 3;4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [107]:
[M N]

3×6 Array{Int64,2}:
 2  4  5  1  2  3
 1  2  3  4  5  6
 6  7  0  7  8  9

In [108]:
[M;N]

6×3 Array{Int64,2}:
 2  4  5
 1  2  3
 6  7  0
 1  2  3
 4  5  6
 7  8  9

In [109]:
hcat(M, N)

3×6 Array{Int64,2}:
 2  4  5  1  2  3
 1  2  3  4  5  6
 6  7  0  7  8  9

In [110]:
vcat(M, N)

6×3 Array{Int64,2}:
 2  4  5
 1  2  3
 6  7  0
 1  2  3
 4  5  6
 7  8  9

In [111]:
M

3×3 Array{Int64,2}:
 2  4  5
 1  2  3
 6  7  0

In [112]:
transpose(M)

3×3 Transpose{Int64,Array{Int64,2}}:
 2  1  6
 4  2  7
 5  3  0

In [113]:
tr(M)

4

In [114]:
det(M)

5.000000000000001

In [115]:
inv(M)

3×3 Array{Float64,2}:
 -4.2   7.0   0.4
  3.6  -6.0  -0.2
 -1.0   2.0   0.0

In [116]:
M

3×3 Array{Int64,2}:
 2  4  5
 1  2  3
 6  7  0

In [118]:
UpperTriangular(M)
LowerTriangular(M)

3×3 LowerTriangular{Int64,Array{Int64,2}}:
 2  ⋅  ⋅
 1  2  ⋅
 6  7  0

In [120]:
eigvecs(M)
eigvals(M)

3-element Array{Float64,1}:
 -5.352954259951673
 -0.09882411688237432
  9.451778376834048

## DataFrames

In [8]:
using Pkg

In [9]:
Pkg.add("DataFrames")

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [10]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1273

In [11]:
DataFrame()

0×0 DataFrame

In [13]:
DataFrame(A = 1:4 , B = rand(4))
DataFrame(rand(10,3))

10×3 DataFrame
│ Row │ x1        │ x2        │ x3       │
│     │ Float64   │ Float64   │ Float64  │
├─────┼───────────┼───────────┼──────────┤
│ 1   │ 0.324437  │ 0.349635  │ 0.990421 │
│ 2   │ 0.0925833 │ 0.70677   │ 0.76625  │
│ 3   │ 0.94746   │ 0.191204  │ 0.736557 │
│ 4   │ 0.629054  │ 0.787623  │ 0.291365 │
│ 5   │ 0.405731  │ 0.437356  │ 0.771261 │
│ 6   │ 0.032516  │ 0.0713079 │ 0.137537 │
│ 7   │ 0.878038  │ 0.346328  │ 0.132825 │
│ 8   │ 0.522913  │ 0.76942   │ 0.612229 │
│ 9   │ 0.575977  │ 0.0784736 │ 0.782936 │
│ 10  │ 0.740062  │ 0.0182907 │ 0.268897 │

In [15]:
X1 = DataFrame(rand(10,3))
Matrix(X1)

10×3 Array{Float64,2}:
 0.644397  0.3973    0.891761
 0.168366  0.42091   0.203717
 0.256918  0.611832  0.301208
 0.588754  0.30716   0.570314
 0.289399  0.640386  0.15756
 0.516749  0.711247  0.17567
 0.939877  0.496064  0.582792
 0.971941  0.112961  0.490601
 0.845785  0.965688  0.980011
 0.877195  0.947745  0.242531

In [16]:
Pkg.add("Tables")
using Tables

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [17]:
tb = Tables.columntable(X1)

(x1 = [0.6443970207158132, 0.16836647037238572, 0.25691810511716784, 0.5887541474506262, 0.2893991097052968, 0.5167491644488571, 0.9398768713083885, 0.9719405601696842, 0.8457847974294948, 0.8771948137424042], x2 = [0.39729965055980965, 0.42090998973798177, 0.6118320622858819, 0.3071600506070833, 0.6403860693938572, 0.7112474610036954, 0.4960635129260953, 0.11296146705193455, 0.9656884706373685, 0.9477449124690394], x3 = [0.8917613340518542, 0.20371748415671442, 0.30120784722212135, 0.5703135994018018, 0.15755990979575984, 0.17567012336147303, 0.5827917795303967, 0.49060105560622724, 0.980010723259628, 0.2425310784827912])

In [18]:
typeof(tb)

NamedTuple{(:x1, :x2, :x3),Tuple{Array{Float64,1},Array{Float64,1},Array{Float64,1}}}

In [21]:
tb.x1
tb.x2
tb.x3

10-element Array{Float64,1}:
 0.8917613340518542
 0.20371748415671442
 0.30120784722212135
 0.5703135994018018
 0.15755990979575984
 0.17567012336147303
 0.5827917795303967
 0.49060105560622724
 0.980010723259628
 0.2425310784827912

## More on DataFrames

In [22]:
X1

10×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.644397 │ 0.3973   │ 0.891761 │
│ 2   │ 0.168366 │ 0.42091  │ 0.203717 │
│ 3   │ 0.256918 │ 0.611832 │ 0.301208 │
│ 4   │ 0.588754 │ 0.30716  │ 0.570314 │
│ 5   │ 0.289399 │ 0.640386 │ 0.15756  │
│ 6   │ 0.516749 │ 0.711247 │ 0.17567  │
│ 7   │ 0.939877 │ 0.496064 │ 0.582792 │
│ 8   │ 0.971941 │ 0.112961 │ 0.490601 │
│ 9   │ 0.845785 │ 0.965688 │ 0.980011 │
│ 10  │ 0.877195 │ 0.947745 │ 0.242531 │

In [23]:
names(X1)

3-element Array{Symbol,1}:
 :x1
 :x2
 :x3

In [24]:
size(X1)

(10, 3)

In [26]:
size(X1,1), size(X1,2)

(10, 3)

In [28]:
nrow(X1)
ncol(X1)

3

In [30]:
describe(X1)
describe(X1, cols=1:2)

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min      │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64  │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.609938 │ 0.168366 │ 0.616576 │ 0.971941 │         │
│ 2   │ x2       │ 0.561129 │ 0.112961 │ 0.553948 │ 0.965688 │         │

In [33]:
eltype.(eachcol(X1))

3-element Array{DataType,1}:
 Float64
 Float64
 Float64

In [35]:
first(X1)
first(X1, 5)

5×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.644397 │ 0.3973   │ 0.891761 │
│ 2   │ 0.168366 │ 0.42091  │ 0.203717 │
│ 3   │ 0.256918 │ 0.611832 │ 0.301208 │
│ 4   │ 0.588754 │ 0.30716  │ 0.570314 │
│ 5   │ 0.289399 │ 0.640386 │ 0.15756  │

In [37]:
last(X1)
last(X1, 2)

2×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.845785 │ 0.965688 │ 0.980011 │
│ 2   │ 0.877195 │ 0.947745 │ 0.242531 │

In [38]:
X1

10×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.644397 │ 0.3973   │ 0.891761 │
│ 2   │ 0.168366 │ 0.42091  │ 0.203717 │
│ 3   │ 0.256918 │ 0.611832 │ 0.301208 │
│ 4   │ 0.588754 │ 0.30716  │ 0.570314 │
│ 5   │ 0.289399 │ 0.640386 │ 0.15756  │
│ 6   │ 0.516749 │ 0.711247 │ 0.17567  │
│ 7   │ 0.939877 │ 0.496064 │ 0.582792 │
│ 8   │ 0.971941 │ 0.112961 │ 0.490601 │
│ 9   │ 0.845785 │ 0.965688 │ 0.980011 │
│ 10  │ 0.877195 │ 0.947745 │ 0.242531 │

In [41]:
#X1[ Row , Column ]
X1[1:7, 1:2]
X1[1:7, :]
X1[:, 3]

10-element Array{Float64,1}:
 0.8917613340518542
 0.20371748415671442
 0.30120784722212135
 0.5703135994018018
 0.15755990979575984
 0.17567012336147303
 0.5827917795303967
 0.49060105560622724
 0.980010723259628
 0.2425310784827912

In [43]:
X1[: , Between(:x1, :x3) ]

10×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.644397 │ 0.3973   │ 0.891761 │
│ 2   │ 0.168366 │ 0.42091  │ 0.203717 │
│ 3   │ 0.256918 │ 0.611832 │ 0.301208 │
│ 4   │ 0.588754 │ 0.30716  │ 0.570314 │
│ 5   │ 0.289399 │ 0.640386 │ 0.15756  │
│ 6   │ 0.516749 │ 0.711247 │ 0.17567  │
│ 7   │ 0.939877 │ 0.496064 │ 0.582792 │
│ 8   │ 0.971941 │ 0.112961 │ 0.490601 │
│ 9   │ 0.845785 │ 0.965688 │ 0.980011 │
│ 10  │ 0.877195 │ 0.947745 │ 0.242531 │

In [44]:
X1.x4 = rand(10)

10-element Array{Float64,1}:
 0.4738094205090009
 0.39051091209921185
 0.49564848901331193
 0.0224133383218883
 0.5929288933027448
 0.1527754517337172
 0.40487841942894187
 0.48108087453222637
 0.614932654166245
 0.2582341639759891

In [45]:
X1

10×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4        │
│     │ Float64  │ Float64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼──────────┼───────────┤
│ 1   │ 0.644397 │ 0.3973   │ 0.891761 │ 0.473809  │
│ 2   │ 0.168366 │ 0.42091  │ 0.203717 │ 0.390511  │
│ 3   │ 0.256918 │ 0.611832 │ 0.301208 │ 0.495648  │
│ 4   │ 0.588754 │ 0.30716  │ 0.570314 │ 0.0224133 │
│ 5   │ 0.289399 │ 0.640386 │ 0.15756  │ 0.592929  │
│ 6   │ 0.516749 │ 0.711247 │ 0.17567  │ 0.152775  │
│ 7   │ 0.939877 │ 0.496064 │ 0.582792 │ 0.404878  │
│ 8   │ 0.971941 │ 0.112961 │ 0.490601 │ 0.481081  │
│ 9   │ 0.845785 │ 0.965688 │ 0.980011 │ 0.614933  │
│ 10  │ 0.877195 │ 0.947745 │ 0.242531 │ 0.258234  │

## Reading & Writing Files

In [46]:
using DataFrames

In [47]:
df = DataFrame(A=[true, false, true], B=[23, 45, 67], C=['a', 'c', 'b'])

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'c'  │
│ 3   │ 1    │ 67    │ 'b'  │

In [48]:
Pkg.add("CSV")

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [49]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1273

In [50]:
CSV.write("df.csv", df)

"df.csv"

In [51]:
new_df = CSV.read("df.csv")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ c      │
│ 3   │ 1    │ 67    │ b      │

In [52]:
Pkg.add("Serialization")

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [53]:
using Serialization

In [54]:
open("df.bin", "w") do io
    serialize(io, df)
end

In [55]:
open(deserialize, "df.bin")

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'c'  │
│ 3   │ 1    │ 67    │ 'b'  │

In [56]:
Pkg.add("JSONTables")

 Resolving package versions...
  Updating `C:\Users\PC\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\PC\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [57]:
using JSONTables

In [58]:
open(io -> arraytable(io, df), "df.json", "w")

80

In [59]:
open(jsontable, "df.json") |> DataFrame

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ c      │
│ 3   │ 1    │ 67    │ b      │

## Row & Column Operations

In [60]:
M1 = DataFrame(rand(5,4))

5×4 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [61]:
rename(M1, :x1 => :c1)

5×4 DataFrame
│ Row │ c1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [62]:
M1

5×4 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [63]:
rename!(M1, :x1 => :c1)

5×4 DataFrame
│ Row │ c1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [64]:
M1

5×4 DataFrame
│ Row │ c1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [65]:
rename(M1, [:c1, :c2, :c3, :c4])

5×4 DataFrame
│ Row │ c1       │ c2        │ c3        │ c4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [66]:
rename(M1, string.('a':'d'))

5×4 DataFrame
│ Row │ a        │ b         │ c         │ d          │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [67]:
M2 = DataFrame(rand(5,4))

5×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.433834 │ 0.992305 │ 0.392774 │ 0.911343 │
│ 2   │ 0.690862 │ 0.951658 │ 0.262878 │ 0.350846 │
│ 3   │ 0.398278 │ 0.136287 │ 0.541587 │ 0.279356 │
│ 4   │ 0.664437 │ 0.975704 │ 0.656702 │ 0.79333  │
│ 5   │ 0.238815 │ 0.40467  │ 0.16808  │ 0.169415 │

In [69]:
hcat(M1, M2, makeunique=true)

5×8 DataFrame. Omitted printing of 2 columns
│ Row │ c1       │ x2        │ x3        │ x4         │ x1       │ x2_1     │
│     │ Float64  │ Float64   │ Float64   │ Float64    │ Float64  │ Float64  │
├─────┼──────────┼───────────┼───────────┼────────────┼──────────┼──────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │ 0.433834 │ 0.992305 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │ 0.690862 │ 0.951658 │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │ 0.398278 │ 0.136287 │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │ 0.664437 │ 0.975704 │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │ 0.238815 │ 0.40467  │

In [73]:
#vcat(M1, M2)
rename!(M1, :c1=>:x1)

5×4 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │

In [74]:
vcat(M1, M2)

10×4 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4         │
│     │ Float64  │ Float64   │ Float64   │ Float64    │
├─────┼──────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │
│ 6   │ 0.433834 │ 0.992305  │ 0.392774  │ 0.911343   │
│ 7   │ 0.690862 │ 0.951658  │ 0.262878  │ 0.350846   │
│ 8   │ 0.398278 │ 0.136287  │ 0.541587  │ 0.279356   │
│ 9   │ 0.664437 │ 0.975704  │ 0.656702  │ 0.79333    │
│ 10  │ 0.238815 │ 0.40467   │ 0.16808   │ 0.169415   │

In [75]:
[M1 DataFrame(A=[1,2,3,4,5])]

5×5 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4         │ A     │
│     │ Float64  │ Float64   │ Float64   │ Float64    │ Int64 │
├─────┼──────────┼───────────┼───────────┼────────────┼───────┤
│ 1   │ 0.553927 │ 0.910058  │ 0.234604  │ 0.00619983 │ 1     │
│ 2   │ 0.509006 │ 0.151972  │ 0.203505  │ 0.899358   │ 2     │
│ 3   │ 0.89835  │ 0.465239  │ 0.647362  │ 0.924216   │ 3     │
│ 4   │ 0.876952 │ 0.0484358 │ 0.0293093 │ 0.150767   │ 4     │
│ 5   │ 0.604521 │ 0.224691  │ 0.681918  │ 0.0195109  │ 5     │

In [76]:
insertcols!(M1, 3, newcol=[1,2,3,4,5])

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3        │ x4         │
│     │ Float64  │ Float64   │ Int64  │ Float64   │ Float64    │
├─────┼──────────┼───────────┼────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 1      │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 2      │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 3      │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 4      │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 5      │ 0.681918  │ 0.0195109  │

In [77]:
M1

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3        │ x4         │
│     │ Float64  │ Float64   │ Int64  │ Float64   │ Float64    │
├─────┼──────────┼───────────┼────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 1      │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 2      │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 3      │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 4      │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 5      │ 0.681918  │ 0.0195109  │

In [78]:
M1[:, [:x2, :x3]]

5×2 DataFrame
│ Row │ x2        │ x3        │
│     │ Float64   │ Float64   │
├─────┼───────────┼───────────┤
│ 1   │ 0.910058  │ 0.234604  │
│ 2   │ 0.151972  │ 0.203505  │
│ 3   │ 0.465239  │ 0.647362  │
│ 4   │ 0.0484358 │ 0.0293093 │
│ 5   │ 0.224691  │ 0.681918  │

In [79]:
cp_M1 = copy(M1)

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3        │ x4         │
│     │ Float64  │ Float64   │ Int64  │ Float64   │ Float64    │
├─────┼──────────┼───────────┼────────┼───────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058  │ 1      │ 0.234604  │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972  │ 2      │ 0.203505  │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239  │ 3      │ 0.647362  │ 0.924216   │
│ 4   │ 0.876952 │ 0.0484358 │ 4      │ 0.0293093 │ 0.150767   │
│ 5   │ 0.604521 │ 0.224691  │ 5      │ 0.681918  │ 0.0195109  │

In [80]:
M1 == cp_M1

true

In [81]:
sort(M1, :x1)

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3        │ x4         │
│     │ Float64  │ Float64   │ Int64  │ Float64   │ Float64    │
├─────┼──────────┼───────────┼────────┼───────────┼────────────┤
│ 1   │ 0.509006 │ 0.151972  │ 2      │ 0.203505  │ 0.899358   │
│ 2   │ 0.553927 │ 0.910058  │ 1      │ 0.234604  │ 0.00619983 │
│ 3   │ 0.604521 │ 0.224691  │ 5      │ 0.681918  │ 0.0195109  │
│ 4   │ 0.876952 │ 0.0484358 │ 4      │ 0.0293093 │ 0.150767   │
│ 5   │ 0.89835  │ 0.465239  │ 3      │ 0.647362  │ 0.924216   │

In [82]:
deleterows!(M1, 4)

4×5 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4         │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64    │
├─────┼──────────┼──────────┼────────┼──────────┼────────────┤
│ 1   │ 0.553927 │ 0.910058 │ 1      │ 0.234604 │ 0.00619983 │
│ 2   │ 0.509006 │ 0.151972 │ 2      │ 0.203505 │ 0.899358   │
│ 3   │ 0.89835  │ 0.465239 │ 3      │ 0.647362 │ 0.924216   │
│ 4   │ 0.604521 │ 0.224691 │ 5      │ 0.681918 │ 0.0195109  │

In [84]:
filter( r -> r.x1 > 0.6 ,M1)

2×5 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.89835  │ 0.465239 │ 3      │ 0.647362 │ 0.924216  │
│ 2   │ 0.604521 │ 0.224691 │ 5      │ 0.681918 │ 0.0195109 │